@import url('https://fonts.googleapis.com/css2?family=Karla:wght@500&family=Roboto:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


  body{
    font-family: 'Karla', sans-serif;
font-family: 'Roboto', sans-serif;
background-image:url(Imagenes/Escuela.jpg);
background-repeat: no-repeat;
background-attachment: fixed;
background-size:cover;
}



p{
    font-family: Arial, Helvetica, sans-serif;
}

.container{/*MODIFICAR EL CONTENEDOR PRINCIPAL*/
    max-width: 1350px;
    margin: 0 auto;
}
.header{
    min-height: 70vh;
    display: flex;
    align-items: center;
    
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*DEGRADAR*/background: rgba(63, 63, 63, 0.8);
}

.logo img{
    width: 60px;
}
.logo img:hover{/*LOGOTIPO*/
    background: #eee8e8;
    box-shadow:0 0 100px #f2f2f2 ,0 0 20px #f2f2f2   , 0 0 30px #f2f2f2 ;
    border-radius: 25px;
}
.facebook img:hover{/*FACEBOOK*/
    background: #116bfd;
    box-shadow:0 0 100px #116bfd ,0 0 20px #116bfd   , 0 0 30px #116bfd ;
    border-radius: 25px;
}
.whats img:hover{/*WHATS*/
    background: #08bd1a;
    box-shadow:0 0 100px #08bd1a ,0 0 20px #08bd1a   , 0 0 30px #08bd1a ;
    border-radius: 15px;
}
.ini img:hover{ /*LOGIN*/
    background: #989698fb;
    box-shadow:0 0 100px #989698e0 ,0 0 20px #989698e0   , 0 0 30px #989698e0 ;
    border-radius: 25px;
}
.menu .navbar ul li {
    position: relative;
    float: left;
}
.menu .navbar ul li a {
    font-size: 18px;
    padding: 30px;/*TAAÑO DEL MENU*/
    color:#f2f2f2;/*COLOR DE LETRA*/
    display: block;
    font-weight: bold;
}
.menu .navbar ul li a:hover{
    color:#fde676;/*LETRAS DEL MENU*/
    text-shadow:0 0 10px #f1cd04 ,0 0 20px #f1cd04   , 0 0 30px #f1cd04 ;
}
.socials-1 img{
    width: 30px;
    margin-right: 15px;
}
#menu{
    display: none;   
}
.menu-icono {
    width: 30px;
   
}
.menu label{
    cursor: pointer;
    display: none;
    
}
.menu-icono:hover{
    background: #f2f2f258;
    box-shadow:0 0 100px #f2f2f258 ,0 0 20px #f2f2f258   , 0 0 30px #f2f2f258 ;/*imagen de las 3 lineas*/
    border-radius: 5px;
}

/*CONTENIDO INFERIOR */

.header-content{
    padding: 100px 0;
    display: flex;
    align-items: center;
   /* background-image:url(Imagenes/a1.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:contain;*/
}
.header-txt{
    width: 50%;
    padding-right: 100px;
    color: #f2f2f2;/*COLOR DEL PRINCIPAL*/
}
.header-txt h1{
    font-size: 100px;
    line-height: 150px;
    margin-bottom: 25px;
}
p{
    font-size: 20px;/*tamaño del texto */
    margin-bottom: 35px;
    text-align:justify;

}
/*BOTON DEL CONTENIDO ABAJO DEL MENU*/
.btn-1{
    display: inline-block;
    padding: 13px 30px;
    background-color:#8b1434;
    color: aliceblue;
    border-radius: 25px;
    font-size: 18px;
}
.btn-1:hover{
    background: #dd013b;
    box-shadow:0 0 100px #dd013b ,0 0 20px #dd013b, 0 0 30px #dd013b ;
}

/*IMAGEN DEL CONTENIDO INFERIOR AL MENU*/
.header-img{
    width: 50%;
    text-align: center;

}
.header-img img{
    width: 400px;
}



/*SEGUNDA PARTE */

.about{
    padding: 100px 0;
    background-color: rgb(5, 106, 0);/*COLOR DEL FONDO SOBRE EL CURSO*/
}
.about-content{
    display: flex;
    position: relative;
}

.ab1{
    position:absolute;
    width: 50px;
    left: 0;
    top: 0;
    rotate: 220deg;
}
.ab2{
    position: absolute;
    width: 50px;
    left: 750px;
    top: 300px;
    rotate: 380deg;
}
.ab3{
    position: absolute;
    width: 100px;
    right: 0;

}
.about-img{
    width: 50%;
    text-align: center;
}
.about-img img{
    width: 350px;
}
.about-txt{
    width: 50%;
    color: #f2f2f2;/*COLOR DEL SOBRE EL CURSO*/
}
h2{/*configuracion de los H2*/
    font-size: 80px;
    line-height: 90px;
    color:#f2f2f2;/*TEXTO DEL SOBRE EL CURSO*/
    margin-bottom: 25px;
}



.btn-2{
    display: inline-block;
    padding: 13px 45px;
    font-size: 18px;
    background-color:#8b1434;/*COLOR DEL CONTENEDOR*/
    color:#f2f2f2;/*COLOR DEL TEXTO INFORMACION*/
    border-radius: 25px;
    border: 0;
    cursor: pointer;
}
.btn-2:hover{
    background: #dd013b;
    box-shadow:0 0 100px #dd013b ,0 0 20px #dd013b   , 0 0 30px #dd013b ;/*COLOR DEL BOTON DE CONFIRMACION*/
}






/*TERCERA PARTE */


.information{
    padding: 100px 400px 400px 400px;
    text-align: center;
    background-color: violet;/*color del contenedor de informacion elemental*/
}

.information-content{
    position: relative;
    color: #f2f2f2;/*INFORMACION DEL LOREM DE LA TABLA */
}
.in1{
    position: absolute;
    width: 50px;
    left: -300PX;
    right: 0;
    rotate: 220deg;
}
.in2{
    position: absolute;
    width: 50px;
    right: -200px;
    top: 0;
    rotate: 40deg;
}
.in3{
    position: absolute;
    width: 150px;
    left: -250px;
    top: 230px;
    rotate: 220deg;
}

.contact{
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-table{
    padding: 25px;
    box-shadow: 0 0 20px rgb(255, 255, 255);/*ILUMUINACION DE LA TABLA*/
    text-align: center;
    width: 700px;
    margin-top: -400px;
}
.contact-table span{
    font-size: 40px;
    color: antiquewhite;/*COLOR DEL CELDAS DE LA TABLA*/
    margin-bottom: 45px;
}
.contact-table h3{
    font-size: 60px;
    color: rgb(2, 101, 200);/*COLOR DEL TITULO*/
    margin-bottom: 25px;
}

.table{
    text-align: left;
    
}
.Escuelas{
    border-color: collapse;
    width: 100%;
}
.Escuelas td , .Escuelas th {
border: 1px solid  #DDDD;
padding: 8px;
color: #131212a5;/*color del contenido de la tabla*/
}
.Escuelas tr:nth-child(even){
    background-color: #f2f2f2;
}
.Escuelas tr:hover{
    background-color: #DDDD;
}
.Escuelas th {
    padding: 12px 0 ;
    
}


/*FORMULARIO*/


form{
    display: flex;
}
.campo{
    padding: 17px 35px;
    background-color: rgb(205, 181, 63);/*COLOR DEL CONTENDEDOR DE SUB*/
    border-radius: 25px;
    margin-right: 15px;
    border: 1px solid #f2f2f2;/*CONTORNO DEL SUB*/
    outline: none;
}
.campo::placeholder{
    color:#f2f2f2;/*TEXTO DEL SUB*/

}


.form-content{
    padding: 100px 0 70px 0;
    text-align: center;
}
.form-content h3{
    font-size: 50px;
  /*  color: darkolivegreen;*/
    margin-bottom: 25px;
}




















.footer{
    border-top: 2px solid #E8E8E8;
    padding: 0;
        background-image: url(Imagenes/a.png);
        background-repeat: no-repeat;
        background-size:cover;

}
.cortina{
    z-index: 5;
    background: rgba(63, 63, 63, 0.8);
}
.footer-links{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.link-img{
    text-align: center;
}
.link-img img{
    width: 70px;
    margin-bottom: 10px;
}
.socials-2 img{
    width: 30px;
    margin: 10px;
}

.link h3{
    font-size: 22px;
    color:#f1cd04;/*COLOR MENU BARRA BAJA*/
    margin-bottom: 10px;
}
.link a{
    font-size: 18px;
    display: block;
    color:#f2f2f2;
    margin-bottom: 20px;
}
.link a:hover{
    color:#fde676;/*BARRA BAJA */
}
.footer-copy{
    padding: 25px 0;
    text-align: center;
    border-top: 1px solid #f2f2f2;/*LINEA DIVISORIA PARA UBICACION*/
}
.footer-copy p{
    color:#f2f2f2;/*P DE LA UBICACION*/
    font-size: 16px;
    margin: 0;

}























.spotify img:hover{/*FACEBOOK*/
    background: #24fd15;
    box-shadow:0 0 100px #24fd15 ,0 0 20px #24fd15   , 0 0 30px #24fd15 ;
    border-radius: 25px;
}

.discord img:hover{/*FACEBOOK*/
    background: #fd15e2;
    box-shadow:0 0 100px #fd15e2 ,0 0 20px #fd15e2   , 0 0 30px #fd15e2 ;
    border-radius: 25px;
}
.youtube img:hover{/*FACEBOOK*/
    background: #fd1515;
    box-shadow:0 0 100px #fd1515 ,0 0 20px #fd1515   , 0 0 30px #fd1515 ;
    border-radius: 25px;
}




































@media(max-width:860px){
   
    /*MENU DESPLEGABLE*/
    .menu{
        padding: 10px;
    }
    .menu label{
        display: initial;
    }
    .socials-1{
        display: none;
    }
    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: linear-gradient(to bottom, rgba(63, 63, 63, 0.8), rgba(127, 127, 127, 0.5));
        display: none;
    }
    .menu .navbar ul li {
        width: 100%;
    }
    .menu .navbar ul li a{
        color: #E8E8E8;
        
    }
    #menu:checked ~ .navbar{
        display: initial;
    }

    /*SEGUNDA PARTE*/
    .header{
        min-height: 0vh;
    }
    .header-content{
        flex-direction: column;
    }
    .header-txt{
        width: 100%;
        padding-right: 0;
        text-align: center;
        margin-bottom: 15px;
    }
    .header-txt h1{
        font-size: 70px;/*tamaño de letra*/
        line-height:150px ;/*altura de letra*/

    
    }
    .header-img{
        width: 100%;
    }
    .header-img img{
        width: 220px;
    }
    /*TERCERA*/

    .about{
        padding: 30px;
    }
    .about-content{
        flex-direction: column;
    }
    .ab1 ,.ab2,.ab3{
        display: none;
    }
    .about-img{
        width: 100%;
        order: 2;
    }
    .about-img img{
        width: 250px;
    }
    .about-txt{
        width: 100%;
        text-align: center;
    }
    h2{
        font-size: 70px;
        line-height: 80px;
    }
    /*CUERTA*/

    .information{
        padding: 30px 30px 100px 30px;
    }
    
    .in1,.in2,.in3{
        display: none;
    }
    .contact{
        padding: 30px;
    }
    .contact-table{/*TABLA*/
        width: 100%;
        margin-top: -120px;/*bajar la tabla */
    }
    .form-content{
        padding: 0;
    }
    /*QUINTA PARTE*/
    form{
        flex-direction: column;
    }
    .campo{
        margin-bottom: 20px;
    }
    /*SEXTA PARTE*/

  
    .footer-links{
        flex-direction: column;
        text-align: center;
    }
    .link-img{
        margin-bottom: 15px;
    }
}

